/*UNIVERSAL*/
	#container {
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	#header {
		width: 100%;
		height: auto;
		background-color: #034160;
		margin-left: auto;
		margin-right: auto;
	}
	body {
		padding: 0px;
		margin: 0px;
		background-size: 10vw 10vw;
		background-image: url("../img/bgt_3.png");
		background-repeat: repeat;
	}
	#content {
		background-color: #288ab7;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		height: 800vw;
		margin-top: 3%;
		margin-bottom: 3%;
	}


/*EVERYTHING ELSE*/
@media screen and (min-width: 701px) {

	
	#header p {
		margin: 0px;
		text-align: center;
		font-size: 2.7vw;
		font-family: Trebuchet MS;
		text-shadow: .07vw .07vw #C0C0C0;
		color: #FFFFFF;
	}
	

}

/*MOBILE */
@media screen and (max-width: 700px) {
	
	#header p {
		margin: 0px;
		text-align: center;
		font-size: 6vw;
		font-family: Trebuchet MS;
		text-shadow: .25vw .25vw #C0C0C0;
		color: #FFFFFF;
	}
	body {
		
	}
	
	
}