#container {
	width: 203.38vh;
	height: 114.40vh;
	background-color: #54597F;
	margin-left: auto;
	margin-right: auto;
}
#header {
	width: 100%;
	height: 8vh;
	background-color: #373B57;
	margin-left: auto;
	margin-right: auto;
}
#header p {
	margin: 0px;
	text-align: center;
	font-size: 7vh;
	font-family: Trebuchet MS;
	text-shadow: .4vh .4vh #000000;
	color: #C0C0C0;
}
body {
	padding: 0px;
	margin: 0px;
}