
#Header {
   
    font-family: 'Francois One', sans-serif;
    font-style: italic;
    letter-spacing: .2em;
    text-align: center;
    text-shadow: 2px 2px #45A29E;
    
    color: 66FCF1;
    font-size: 60px;
    
    width: 100%;
    height: 40px;
    
    padding-top: 40px;
    padding-bottom: 80px;
    
    background-color: 0B0C10;

    
    
}

body {
    background-color: 45A29E; ;
    margin: 0px;
    
}


#HomeTab, #HomeSideTab {
    font-family: 'Francois One', sans-serif;
    font-style: italic;
    letter-spacing: .2em;
    text-align: center;
    color: C5C6C7;
    font-size: 15px;
    
    width: 100%;
    height: 21px;
    
    padding-top: 3px;
    padding-bottom: 3px;
    border-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-style:solid;
    border-color: 66FCF1;
    background-color: 1F2833;
    
    
    
}
#HomeTab:hover, #SchoolTab:hover, #PersonalTab:hover,
#School_All:hover, #S_VB:hover, #S_Flash:hover, #S_Web:hover,
#Personal_All:hover, #P_Scratch:hover, #P_Flash:hover, #P_Web:hover
{
    background-color: C5C6C7;
    color: 1F2833;
    transition-duration: .25s;
    
}
#HomeSideTab:hover, #SchoolSideTab:hover, #PersonalSideTab:hover {
    background-color: C5C6C7;
    color: 1F2833;
     
}

#SchoolTab, #SchoolSideTab {
   
    font-family: 'Francois One', sans-serif;
    font-style: italic;
    letter-spacing: .2em;
    text-align: center;
    color: C5C6C7;
    font-size: 15px;
    
    width: 100%;
    height: 21px;
    
    padding-top: 3px;
    padding-bottom: 3px;
    
    background-color: 1F2833;
    border-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-style:solid;
    border-color: 66FCF1;

}

#PersonalTab, #PersonalSideTab {
   
    font-family: 'Francois One', sans-serif;
    font-style: italic;
    letter-spacing: .2em;
    text-align: center;
    color: C5C6C7;
    font-size: 15px;
    
    width: 100%;
    height: 21px;
    
    padding-top: 3px;
    padding-bottom: 3px;
    
    background-color: 1F2833;
    border-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-style:solid;
    border-color: 66FCF1;
    
}
#HomeSideTab{
    
    width: 180px;
    height: 42px;
    position: fixed;
    transition-duration: .5s;
    

}
#SchoolSideTab{
    width: 180px;
    height: 42px;
    position: fixed;
    margin-top: 49px;
    
    padding-top: 0px;
    padding-bottom: 12px;
    transition-duration: .5s;
    

    
}
#PersonalSideTab{
    width: 180px;
    height: 42px;
    position: fixed;
    margin-top: 98px;
    
    padding-bottom: 10px;
    transition-duration: .5s;
    

    
}

#space {
    height: 2000px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: 0B0C10;
    color: C5C6C7;
    
    border-width: 2px;
    border-style:solid;
    border-color: 1F2833;
    
    padding: 5px;
    
    box-shadow: 0px 0px 20px 0px #000000;
    
}





#HomeSideText {
    margin-top: 6%;
}

#SchoolSideText {
    margin-top: 2%;
}

#PersonalSideText {
    margin-top: 1%;
}

#School_All, #S_VB, #S_Flash, #S_Web,
#Personal_All, #P_Scratch, #P_Flash, #P_Web
{
    width: 24.93%;
    height: 21px;
    float: left;
        
    font-family: 'Francois One', sans-serif;
    font-style: italic;
    letter-spacing: .2em;
    text-align: center;
    color: C5C6C7;
    font-size: 15px;
    
    padding-top: 3px;
    padding-bottom: 3px;
    
    background-color: 2B3847;
    border-width: 0px;
    border-top-width: 1px;
    
    
    
    border-style:solid;
    border-color: 1F2833;
    border-top-color: 66FCF1;
    
}
#School_All, #S_VB, #S_Flash,
#Personal_All, #P_Scratch, #P_Flash
{
   border-right-width: 1px; 
}
#Personal_All, #P_Scratch, #P_Flash, #P_Web{
    background-color: 2B3847;
    border-width: 0px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    
    
    border-style:solid;
    border-color: 1F2833;
    border-bottom-color: 66FCF1;
}
#S_Web , #P_Web{
    border-right-width: 0px;
}

#PersonalTab{
    width: 100%;
}


#SchoolDrop, #PersonalDrop{
    height: 28px;
    width: 100%;
    display: none;
    
    transition-duration: .5s;


}

#Menu {
    height: auto;
}
